body {
    background-color:rgb(59, 51, 33);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

input, button {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
button:hover {
    background-color: rgb(236, 198, 109);
}

textarea {
    resize: none;
}
textarea, .parrafin, .parrafon {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;  
}
.parrafin, .parrafon {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.parrafon {
    width: 300px;
}

body, .precaja, .caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caja, .botonera {
    background-color:rgb(116, 99, 59);
    color: white;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}
.botonera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 250px;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.camutxt {
    color: rgb(59, 51, 33);
}
.subcamutxt {
    color: rgb(116, 99, 59);
}

.myname {
    font-size: 20px;
}

a {
    color: #FFD700;
    text-decoration: none;
}
a:hover {
    color: #FFF176;
    text-decoration: underline;
}
